.arena {
    height: 500px;
    width: 700px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero {
    height: 200px;
    width: 150px;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hit-marker {
    opacity: 0;
    top: -150px;
    position: relative;
}

.ghost:hover~.spider-man .hit-marker {
    animation: born 1.5s 0.5s ease;
}

.ghost:hover {
    animation: attack 2s forwards ease;
    z-index: 1;
}

.ghost:hover~.spider-man .spider-man-image {
    animation-name: death;
    animation-duration: 3s;
    animation-delay: 0.9s;
    animation-timing-function: ease;
}


@keyframes born {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes death {
    0% {
        opacity: 1;
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        opacity: 0;
    }
}


@keyframes attack {
    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: translateX(450px);
    }

    100% {
        transform: translateX(0);
    }
}