.arena {
    height: 667px;
    width: 375px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero {
    height: 150px;
    width: 150px;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hit-marker {
    opacity: 0;
    top: -110px;
    position: relative;
}

.ghost:hover~.spider-man .hit-marker {
    animation: born 1.5s 0.5s ease;
}

.ghost:hover {
    animation: attack 2s forwards ease;
    z-index: 1;
}

.ghost:hover~.spider-man .spider-man-image {
    animation-name: death;
    animation-duration: 3s;
    animation-delay: 0.8s;
    animation-timing-function: ease;
}


@keyframes born {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes death {
    0% {
        opacity: 1;
        filter: brightness(5000%);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        filter: brightness(0%);
        opacity: 0;
    }
}


@keyframes attack {
    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0);
    }
}